body, html {
		padding: 3px 3px 3px 3px;
		background-color: #D8DBE2;
		background:#fff url(images/bg.jpg) repeat-x;}
	  
table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
}

      .info{ 
	    padding: 30px 30px 30px 30px;
	    font-size:16px 
	  }
	li { 
    padding-left: 1em; 
    text-indent: -.7em;
    color:green;
}	
	
	  .header{ width:1170px; margin:0 auto; height:111px; }
	  .header .logo{ width:272px; height:56px; float:left;}
	  .header .logo img{ width:272px; height:56px; border:0px; padding-top:28px;}
	  .header_right { width:400px; float:right; }
	  .header_right p {  float:right; margin-top:10px;}
	  .header_right p a { padding-left:5px;}