{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>{{ page_title }}</title>    
    
<link rel="stylesheet" type="text/css" href="{% static 'materials/style.css' %}" />

</head>
<body>
    <div class="header">
                                
    <div class="logo"><img src="/static/materials/images/logo.jpg" alt="logo" title="logo"/></div>
    </div>
    <div class='info'>
        
<h1>
{{ page_title }}
    
</h1>
                                                        
<h1>Material List (<a href="../f2">next</a>)</h1>
<!--&nbsp;<a href="../f1">F1</a>-->
<!--&nbsp;<a href="../f2">F2</a>  -->
<!--&nbsp;<a href="../s1">S1</a>-->
<!--&nbsp;<a href="../s2">S2</a>-->

{% if customer_list %}
    <table>
    {% for customer in customer_list %}
    <tr>
    <td>{{ customer.field1 }}</td>
    <td>{{ customer.field2 }}</td>
    <td>{{ customer.field3 }}</td>
    <td>{{ customer.field4 }}</td>
    <td>{{ customer.field5 }}</td>
    </tr>
    {% endfor %}

    </table>
{% else %}
    <p>無資料，需要<mark><a href='../admin'>登入</a></mark>才能查看。</p>
{% endif %}

    </div>
</body>
</html>




